extends layout

block content
  h1= title
  if car 
    h3 Car: #{car.name}

  form(method='POST' action='')
    div.form-group
      label(for='name') Name:
      input#title.form-control(type='text', placeholder='Name of car' name='name' required='true' value=(undefined===car ? '' : car.name) )
    div.form-group
      label(for='author') Manufacturer:
      select#author.form-control(type='select', placeholder='Select manufacturer' name='manufacturer' required='true' )
        - manufacturers.sort(function(a, b) {let textA = a.name.toUpperCase(); let textB = b.name.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;});
        for manufacturer in manufacturers
          if car
            option(value=manufacturer._id selected=(manufacturer._id.toString()===car.manufacturer._id.toString() ? 'selected' : false) ) #{manufacturer.name}
          else
            option(value=manufacturer._id) #{manufacturer.name}
    div.form-group
      label(for='bodystyle') Body Style:
      select#author.form-control(type='select', placeholder='Select Body Style' name='bodystyle' required='true' )
        - bodystyles.sort(function(a, b) {let textA = a.type.toUpperCase(); let textB = b.type.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;});
        for bodystyle in bodystyles
          if car
            option(value=bodystyle._id selected=(bodystyle._id.toString()===car.body_style._id.toString() ? 'selected' : false) ) #{bodystyle.type}
          else
            option(value=bodystyle._id) #{bodystyle.type}
    div.form-group
      label(for='price') Price:
      input#title.form-control(type='number', placeholder='Price of car' name='price' required='true' value=(undefined===car ? '' : car.price) )

    button.btn.btn-primary(type='submit') Submit

  if errors
    ul
      for error in errors
        li!= error.msg
